# 2016 EFF vs. Federal Wiretaps

In [6]:
import pandas as pd

In [53]:
eff = pd.read_excel('/content/drive/MyDrive/CSE291-B Project/2016 eff vs. federal/california_wt2_export_2016.xlsx')
fed = pd.read_excel('/content/drive/MyDrive/CSE291-B Project/2016 eff vs. federal/wiretap_b1_1231.2016.xlsx')
print(eff.dtypes)
print('-------------')
print(fed.dtypes)
eff['Judge'] = eff['Judge'].str.upper().str.strip()
eff['Prosecutor'] = eff['Prosecutor'].str.upper().str.strip()
eff['Offense'] = eff['Offense'].str.upper().str.strip()
fed['Judge'] = fed['Judge'].str.upper().str.strip()
fed['Prosecutor'] = fed['Prosecutor'].str.upper().str.strip()
fed['Offense'] = fed['Offense'].str.upper().str.strip()

EICOSNumber                   object
DocketNumber                 float64
DocketYear                     int64
AONumber                     float64
ControlNumber                float64
State                         object
Jurisdiction                  object
Judge                         object
Prosecutor                    object
Offense                       object
Order                         object
OrderApproved                 object
AppDate               datetime64[ns]
AmdDate               datetime64[ns]
DaysOrdered                    int64
NumberExt                      int64
TotalDays                      int64
InterceptOne                  object
InterceptTwo                  object
InterceptThree                object
InterceptFour                 object
LocationOne                   object
LocationTwo                   object
LocationThree                 object
Installation                  object
TermDate              datetime64[ns]
TotalDaysUsed                float64
Communications               float64
Persons                      float64
Incriminating                float64
Related Cost DN               object
Related Results DN            object
PersonnelCost                  int64
ResourceCost                   int64
Arrested                     float64
Granted                      float64
Denied                       float64
Pending                      float64
Convicted                    float64
Trials                       float64
dtype: object
-------------
State                                         object
Jurisdiction                                  object
A.O. Number                                   object
Judge                                         object
Prosecutor                                    object
Offense                                       object
Type                                          object
Location                                      object
Application Date                      datetime64[ns]
Original Order (Days)                        float64
Number of Extensions                           int64
Total Length (Days)                            int64
Installation                                  object
Number of Days in Operation                  float64
Avg. Intercepts Per Day                      float64
Number of Persons Intercepts                  object
Number of Intercepts                          object
Number of Incriminating Intercepts            object
Total Cost($)                                float64
Other Than Manpower Cost ($)                 float64
Arrests                                      float64
Trials                                       float64
Motions Granted                              float64
Motions Denied                               float64
Motions Pending                              float64
Persons Convicted                            float64
Cost Related                                  object
Results Related                               object
dtype: object

The number of rows in 2016 eff differs from Fed by 1

In [34]:
f = fed[lambda x: x.State == 'CALIFORNIA'].shape[0]
e = eff.shape[0]
print('2016 EFF = ', e)
print('2016 Fed = ', f)

2016 EFF =  569
2016 Fed =  568

In [47]:
fed[lambda x: x.State == 'CALIFORNIA'].groupby(['Application Date', 'Judge', 'Prosecutor']).size().reset_index()

    Application Date      Judge Prosecutor  0
0         2001-03-22     FIDLER      LACEY  1
1         2015-05-11     FIDLER      LACEY  1
2         2015-08-27     FIDLER      LACEY  1
3         2015-09-22      DUGAN        AKI  1
4         2015-09-26     POWELL    HOFFMAN  1
..               ...        ...        ... ..
426       2016-11-22     NAKATA     FERMIN  1
427       2016-11-23     FIDLER      LACEY  1
428       2016-11-23       RYAN      LIANG  1
429       2016-11-30     FIDLER      LACEY  1
430       2016-12-08  JEFFERSON    HOFFMAN  1

[431 rows x 4 columns]

In [48]:
eff.groupby(['AppDate', 'Judge', 'Prosecutor']).size().reset_index()

       AppDate      Judge Prosecutor  0
0   2001-03-22     FIDLER      LACEY  1
1   2015-05-11     FIDLER      LACEY  1
2   2015-08-27     FIDLER      LACEY  1
3   2015-09-22      DUGAN        AKI  1
4   2015-09-26     POWELL    HOFFMAN  1
..         ...        ...        ... ..
427 2016-11-22     NAKATA     FERMIN  1
428 2016-11-23     FIDLER      LACEY  1
429 2016-11-23       RYAN      LIANG  1
430 2016-11-30     FIDLER      LACEY  1
431 2016-12-08  JEFFERSON    HOFFMAN  1

[432 rows x 4 columns]

In [49]:
fed[lambda x: x.State == 'CALIFORNIA'].groupby(['Application Date', 'Judge', 'Prosecutor']).size().reset_index().rename(columns={'Application Date': 'AppDate'})

       AppDate      Judge Prosecutor  0
0   2001-03-22     FIDLER      LACEY  1
1   2015-05-11     FIDLER      LACEY  1
2   2015-08-27     FIDLER      LACEY  1
3   2015-09-22      DUGAN        AKI  1
4   2015-09-26     POWELL    HOFFMAN  1
..         ...        ...        ... ..
426 2016-11-22     NAKATA     FERMIN  1
427 2016-11-23     FIDLER      LACEY  1
428 2016-11-23       RYAN      LIANG  1
429 2016-11-30     FIDLER      LACEY  1
430 2016-12-08  JEFFERSON    HOFFMAN  1

[431 rows x 4 columns]

In [57]:
pd.merge(
    eff.groupby(['AppDate', 'Judge', 'Prosecutor', 'Offense']).size().reset_index(),
    fed[lambda x: x.State == 'CALIFORNIA'].groupby(['Application Date', 'Judge', 'Prosecutor', 'Offense']).size().reset_index().rename(columns={'Application Date': 'AppDate'}),
    how='outer',
    on=['AppDate', 'Judge', 'Prosecutor']
)[lambda x: x.isna().any(axis=1)].sort_values(['AppDate', 'Judge', 'Prosecutor'])

       AppDate    Judge Prosecutor Offense_x  0_x Offense_y  0_y
133 2016-03-11  HARRELL  SMITTCAMP      GANG    1       NaN  NaN

In [60]:
eff[(eff['AppDate']=='2016-03-11') & (eff['Judge']=='HARRELL') & (eff['Prosecutor']=='SMITTCAMP')]

,EICOSNumber,DocketNumber,DocketYear,AONumber,ControlNumber,State,Jurisdiction,Judge,Prosecutor,Offense,...,Related Cost DN,Related Results DN,PersonnelCost,ResourceCost,Arrested,Granted,Denied,Pending,Convicted,Trials
23,2016-FR-16,NaN,2016,NaN,NaN,CA,Fresno,HARRELL,SMITTCAMP,GANG,...,NaN,NaN,26190,2227,3.0,NaN,NaN,NaN,NaN,NaN

Warning: Total number of columns (40) exceeds max_columns (20) limiting to first (20) columns.

In [64]:
fed[(fed['Application Date']=='2016-03-11') & (fed['Judge']=='HARRELL') & (fed['Prosecutor']=='SMITTCAMP')]

Empty DataFrame
Columns: [State, Jurisdiction, A.O. Number, Judge, Prosecutor, Offense, Type, Location, Application Date, Original Order (Days), Number of Extensions, Total Length (Days), Installation, Number of Days in Operation, Avg. Intercepts Per Day, Number of Persons Intercepts, Number of Intercepts, Number of Incriminating Intercepts, Total Cost($), Other Than Manpower Cost ($), Arrests, Trials, Motions Granted, Motions Denied, Motions Pending, Persons Convicted, Cost Related, Results Related]
Index: []

[0 rows x 28 columns]

|index|EICOSNumber|DocketNumber|DocketYear|AONumber|ControlNumber|State|Jurisdiction|Judge|Prosecutor|Offense|Order|OrderApproved|AppDate|AmdDate|DaysOrdered|NumberExt|TotalDays|InterceptOne|InterceptTwo|InterceptThree|
|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|
|23|2016-FR-16|NaN|2016|NaN|NaN|CA|Fresno|HARRELL|SMITTCAMP|GANG|Ordinary|Denied|2016-03-11 00:00:00|NaT|0|0|0|Wire Cellular or Mobile Phone|Text Messaging|Voice Mail Multimedia|

In [62]:
fed.rename(columns={'Application Date': 'AppDate'})[lambda x: x.State == 'CALIFORNIA'].head(1)

,State,Jurisdiction,A.O. Number,Judge,Prosecutor,Offense,Type,Location,AppDate,Original Order (Days),...,Total Cost($),Other Than Manpower Cost ($),Arrests,Trials,Motions Granted,Motions Denied,Motions Pending,Persons Convicted,Cost Related,Results Related
3,CALIFORNIA,ALAMEDA,2016-1,ROLEFSON,O'MALLEY,MURDER,WC,D,2016-03-21,30.0,...,19650.0,1950.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

Warning: Total number of columns (28) exceeds max_columns (20) limiting to first (20) columns.

In [18]:
eff[lambda x: (x.AppDate == '2016-03-21') & (x.Judge == 'ROLEFSON') & (x.Prosecutor == "O'MALLEY") ]

,EICOSNumber,DocketNumber,DocketYear,AONumber,ControlNumber,State,Jurisdiction,Judge,Prosecutor,Offense,...,Related Cost DN,Related Results DN,PersonnelCost,ResourceCost,Arrested,Granted,Denied,Pending,Convicted,Trials
0,2016-ALA-62,NaN,2016,NaN,NaN,CA,Alameda,ROLEFSON,O'MALLEY,Murder,...,NaN,NaN,17700,1950,0.0,NaN,NaN,NaN,NaN,NaN
1,2016-ALA-63,NaN,2016,NaN,NaN,CA,Alameda,ROLEFSON,O'MALLEY,Murder,...,NaN,16-01 TT1,17700,1950,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-ALA-64,NaN,2016,NaN,NaN,CA,Alameda,ROLEFSON,O'MALLEY,Murder,...,NaN,16-01 TT1,17700,1950,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-ALA-65,NaN,2016,NaN,NaN,CA,Alameda,ROLEFSON,O'MALLEY,Murder,...,NaN,16-01 TT1,17700,1950,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-ALA-66,NaN,2016,NaN,NaN,CA,Alameda,ROLEFSON,O'MALLEY,Murder,...,NaN,16-01 TT1,17700,1950,NaN,NaN,NaN,NaN,NaN,NaN
5,2016-ALA-67,NaN,2016,NaN,NaN,CA,Alameda,ROLEFSON,O'MALLEY,Murder,...,NaN,16-01 TT1,17700,1950,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
fed[lambda x: (x['Application Date'] == '2016-03-21') & (x.Judge == 'ROLEFSON') & (x.Prosecutor == "O'MALLEY") ]

,State,Jurisdiction,A.O. Number,Judge,Prosecutor,Offense,Type,Location,Application Date,Original Order (Days),...,Total Cost($),Other Than Manpower Cost ($),Arrests,Trials,Motions Granted,Motions Denied,Motions Pending,Persons Convicted,Cost Related,Results Related
3,CALIFORNIA,ALAMEDA,2016-1,ROLEFSON,O'MALLEY,MURDER,WC,D,2016-03-21,30.0,...,19650.0,1950.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,CALIFORNIA,ALAMEDA,2016-2,ROLEFSON,O'MALLEY,MURDER,WS,H,2016-03-21,30.0,...,19650.0,1950.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
5,CALIFORNIA,ALAMEDA,2016-3,ROLEFSON,O'MALLEY,MURDER,WC,D,2016-03-21,30.0,...,19650.0,1950.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
6,CALIFORNIA,ALAMEDA,2016-4,ROLEFSON,O'MALLEY,MURDER,WC,D,2016-03-21,30.0,...,19650.0,1950.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
7,CALIFORNIA,ALAMEDA,2016-5,ROLEFSON,O'MALLEY,MURDER,WC,D,2016-03-21,30.0,...,19650.0,1950.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
8,CALIFORNIA,ALAMEDA,2016-6,ROLEFSON,O'MALLEY,MURDER,WS,H,2016-03-21,30.0,...,19650.0,1950.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN